body {
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: 'Roboto',sans-serif;
  }
 
  .imageContainer {
    position: fixed;
    width:100%;
    height:100%;
    overflow:auto;
}

#currentView {
   /* Or however you are sizing your image */
    height: auto;
    position: relative;
    z-index: 1;
}
#overlayContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
.frameOverlay {
    position: absolute;
    z-index: 3;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgba(0, 255, 255, 0); /* Cyan with 30% opacity */
    color: rgb(255,255,255,0);
    text-align: center;
    /* ... other styles ... */
}
.frameOverlay:hover {
    background-color: rgba(0, 255, 255, 0.3); /* Cyan with 30% opacity */
    color: rgb(255,255,255,1);
  
  }
  #main-header {
    font-size: 24px;
    text-align: center;
    padding: 15px;
    background-color:  rgba(211, 211, 211, 0.5);/* Black background with opacity */
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    z-index: 5;
    position:absolute;
    top:0; left:0; width:100%;
  }
  
  #imageInfo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index:1;
  }
  button {
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 24px;
    background-color: rgba(211, 211, 211, 0.5);
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  
  button[onclick="move('forward')"] {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  button[onclick="move('backward')"] {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  button[onclick="move('right')"] {
    right: 0;
    bottom: 0;
  }
  
  button[onclick="move('left')"] {
    left: 0;
    bottom: 0;
  }
 


/* Hover effect */
button:hover {
  background-color: rgba(169, 169, 169, 0.7); /* Darker grey */
  color: white; /* Changes the color of the icon to white */
} 

#infoButton {
    position: absolute;
    top: 60%;
    right: 0;
    transform: translateY(-50%);
    background-color: rgba(211, 211, 211, 0.8); /* Light gray with some opacity */
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  
  #infoButton:hover {
    background-color: rgba(169, 169, 169, 0.5); /* Darker gray when hovered */
    color: white;
  }
  
  #imageInfo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
  
  
  /* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 9;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(228,228,228,0.8);
    text-align: center;
  }
  

/* Modal Content (Image) */
/* Modal Content */
.modal-content {
    display: inline-grid;
    gap: 20px 40px;
    align-items:center;
}

.wikidata-modal-content {
  display: flex;
  flex-direction: row; /* default is row */
  align-items: center;
  height: 100%;
  position: relative;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    background: transparent;
    border: none;
    cursor: pointer;
    color: black;
    z-index: 2;
  }
  
  #prevButton {
    left: 0;
  }
  
  #nextButton {
    right: 0;
  }
#portraitGrid {
    display: flex;
    flex-wrap: nowrap; /* Prevent items from wrapping to next line */
    gap: 0;  /* No gap between flex items */
}
.modal-content img {
    width: 100%;
    margin: 0;
}
#wikidataModal .wikidata-modal-content {
    position: relative;  /* Establishes a stacking context */
  }
/* Portrait Style */
.portrait {
    flex: 1;  /* Flex items will equally share the container space */
    margin: 0;  /* Resetting any margins */
    width: 50%;  /* This might have to be adjusted depending on your needs */
    box-sizing: border-box;
    cursor:pointer;
}

.portrait-container img {
    max-height: 80vh;
}

.portrait-container {
    flex: 0 0 60%; /* Takes up 60% of the space */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    margin-bottom:45px;
  }
  

.image-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.image-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index:150;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
blockquote {  color: #444;
  font-style: italic;
  padding: 0 0 0 2.25rem;
  position: relative;
  margin: 0;
}
blockquote:before {
  fill: #121212;
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Cquote1_sh2.svg/40px-Cquote1_sh2.svg.png) 50% 50% no-repeat;
  background-size: cover;
  content: "";
  font-style: normal;
  height: 1.2em;
  left: 0;
  line-height: 1;
  position: absolute;
  top: 0.4375rem;
  vertical-align: top;
  width: 1.5em;
}
#loading-spinner {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed position */
  z-index: 1000; /* Sit on top of everything */
  left: 50%; /* Center the spinner horizontally */
  top: 50%; /* Center the spinner vertically */
  transform: translate(-50%, -50%); /* Account for the spinner's own dimensions */
}
#loading-spinner {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#loading-spinner img {

  animation: pulse 2s infinite ease-in-out;  /* Add this line */
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

#wikidataInfo {
    flex: 1;
    z-index:20;
    color: black;  /* Adjust as desired */
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9); 
    word-wrap: break-word;  /* Break the words cleanly */
    max-width: 600px;        /* Set maximum width */
    white-space: normal;    /* Override any previous white-space settings */
    overflow-y: auto; 
    max-height:80vh;
    box-shadow: 6px 4px 4px lightgrey;
    text-align:left;
}

/* Media Query for smaller screens */
@media (max-width: 768px) { /* Adjust 768px as needed */
  .wikidata-modal-content {
    flex-direction: column;
    align-items: flex; /* Adjust this if needed */
    margin-top:80px;
  }
  
  .portrait-container, #wikidataInfo {
    flex: 0 0 auto; /* Override flex setting to adjust for column layout */
    max-width: 85%; /* Allow them to take full width */
  }

  #wikidataInfo {
    max-height: none;
  }
}

#wikidataLabel {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

#wikidataDescription {
    font-size: 14px;
}

#largePortrait {
  cursor:pointer;
}