<style>
    .img-container {
  position: fixed;
  width:100%;
  height:100%;
  overflow: auto;
}



.overlay {
  position: absolute;
  /* top: 400; left: 200; right: 1603; bottom: 350; top-left: X: 301, Y: 377 bottom-right X: 284, Y: 535 */
  text-align: center;
  opacity: 0.8;
  transition: opacity .25s;
  background: cyan;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

.overlay:hover {
  opacity: .5;
}
</style>
<div class="img-container">
    <img id="portimg" src="../images/Katalogsaal_01.jpg" alt="">
    <div class="overlay" id="canvas" style="left: 293px; top: 568px; width: 125px; height: 142px;">overlay</div>
  </div>


  <script>

var canvas = document.getElementById("canvas");
canvas.width = window.innerWidth;
canvas.height = window.innerHeight;
console.log(canvas.width);
console.log(canvas.height);
x = 284;
y = 535;
canvas.style.right = canvas.width-284;

  </script>